.sub-email {
    display: flex;
    width: 100%;
    padding: 100px 15px;
    align-items: center;
    justify-content: center;
}
    

.sub-img {
    margin-right: 10px;
}


.sub-email h2 {
    font-size: 1.9rem;
    font-weight: 600;
}

.sub-email h4 {
    font-size: 15px;
    margin-bottom: 20px;                                                                    
}

.sub-email p {
    margin-top: 20px;
}

.sub-img img {
    width: 100%;
}

.sub-text {
   justify-content: center;
   align-items: center;
   margin: auto 60px;

}

.email {
    margin-top: 20px;
    display: flex;
}

.sub-email .button-email{
    background: #2091F9;
    border-radius: 20px;
    width: 200px;
    transition: 0.3s ease;
    text-align: center;
    margin-left: 15px;
    cursor: pointer;
}


.sub-email .button-email button {
    font-size: 1.2rem;
    width: 100px;
    background-color: transparent;
    border: none;
    margin: 10px;
    color: #fff;
    cursor: pointer;
}

.sub-email .button-email:hover {
    transform: scale(1.050);
}

.email input {
    border-radius: 20px;
    border: none;
    background-color: rgb(214, 214, 214);
    padding-left: 15px;
}

@media screen and (max-width: 768px) {

    .sub-email {
        display: block;
        padding: 40px 12px;
        text-align: center;
    }

    .sub-text {
        margin: 25px 0px;
    }
    
}
