.features {
    width: 100%;
}

.title-features {
    width: 100%;
}

.features .title-features h1 {
    text-align: center;
    margin-top: 50px;
}

.features .title-features p {
    text-align: center;
    margin-top: 20px;
}

.features-itens {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;

}

.features-content {
     width: 400px; 
    height: 300px;
    margin-top: 40px;
    
}

.features-content h3 {
    text-align: center;
    
}

.features-content p {
    text-align: center;
    margin: 20px 30px;
    
}



.features .features-itens .features-content img {
    margin-bottom: 20px;

    
    
    
}


@media screen and (max-width: 958px) {
    
    .features {
        width: 100%;
    }

    .features-itens {
        display: block;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .features-itens img {
        width: 80px;
        height: 80px;
    }

    .features-content {
        margin-right: 0px;
        width: 410px;
    }
}