*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px;
    transition: 0.3s ease;
}

.navigation {
    position: relative;
}

.media-icons {
    display: flex;
}

.media-icons a {
    font-size: 1.5rem;
    margin-right: 20px;
    color: white;
    transition: 0.3s ease;
}

.media-icons a:hover {
    color: #2091F9;
    transform: scale(1.4);
}

.logo-header {
    display: flex;
    position: absolute;
    z-index: 777;
}

.itens-menu {
    margin-right: 150px;

}

.itens-menu a {
    position: relative;
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.95rem;
    transition: 0.5s ease;
    text-transform: uppercase;
}

.itens-menu a::before {
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0px;
    left: 0;
    transition: 0.3s ease;
}


.itens-menu a:hover::before {
    width: 100%;
}

.itens-menu img {
    width: 200px;
    position: absolute;
    top: 0;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.conteudo {
    text-align: center;
    z-index: 999;
}

.conteudo h1 {
    color: white;
    font-size: 4.5rem;
    font-weight: 600;
}

.conteudo p{
    color: white;
    font-size: 1.2rem;
    margin-top: 20px;
}

.conteudo .button-home {
    background: #2091F9;
    border-radius: 20px;
    width: 250px;
    height: 40px;
    margin: 20px auto;
    transition: 0.3s ease;
    cursor: pointer;


}

.conteudo .button-home button {
    font-size: 1.2rem;
    width: 100px;
    background-color: transparent;
    border: none;
    margin: 10px;
    color: #fff;
    cursor: pointer;
}

.conteudo .button-home:hover {
    transform: scale(1.050);
}

.home picture img {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}




@media screen and (max-width: 988px) {
    .home {
        width: 100%;
    }

    .conteudo h1 {
        font-size: 2.5rem;
    }


    header {
        padding: 25px 40px;
    }

    header .navegation {
        display: none;
      }

    header .navegation.active {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
         }
    
        header .navegation.active .itens-menu {
          background: #fff;
          width: 400px;
          max-width: 600px;
          margin: 20px;
          padding: 40px;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 5px;
          box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
        }

        header .navegation .itens-menu a {
            color: #222;
            font-size: 1.2em;
            margin: 20px;
            }

    .menu-btn {
        background: url(../imagens/menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;

      }
    
      .menu-btn.active {
        z-index: 9999;
        background: url(../imagens/close.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
      }
    
        .menuzin {
        background-size: 40px;
        background-position: center;
        width: 40px;
        height: 40px;
        opacity: 0%;
      } 

      .conteudo {
        z-index: 998;
      }
      
      /* .media-icons {
        display: none;
      } */
} 