.location {
    width: 100%;
    padding: 80px 15px;
}

.location h1 {
    text-align: center;
    margin-bottom: 30px;
}

.location p {
    text-align: center;
}

.location-forms {
    display: flex;
    width: 100%;
}

.location-forms .form {
    width: 500px;
    height: 500px;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.location-forms .form input {
    margin: 30px 40px;
    width: 400px;
    border: none;
    border-radius: 20px;
    height: 40px;
    background-color: rgb(235, 235, 235);
    padding-left: 15px;
}

.form h2 {
    text-align: center;
    margin-top: 20px;
}


.form .button-location{
    background: #2091F9;
    border-radius: 20px;
    width: 400px;
    transition: 0.3s ease;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    cursor: pointer;

    
}


.form .button-location button {
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    color: #fff;
    margin: 10px;
     cursor: pointer;
}

.form .button-location:hover {
    transform: scale(1.050);
}

.location-text {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.text-size {
    text-align: center;
    margin-right: 30px;

}

.text-size img {
    margin-bottom: 20px;
}

.location-forms {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 50px 15px;
}

.form {
    margin-right: 50px;
}

.location-itens .map {
    justify-content: center;
    align-items: center;
    margin: 30px;
    text-align: center;
}

.social-media {
    text-align: center;
}

.social-media a {
    font-size: 1.5rem;
    margin-right: 20px;
    transition: 0.3s ease;
    color: #2091F9;
}

.social-media a:hover {
    color: #252B42;
    transform: scale(1.5);
}


@media screen and (max-width: 1050px) {

   .location-forms {
    display: block;
    padding: 0px;
   }

   .location-forms .form {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
   }

   .form h2 {
    margin: 0px;
    padding-top: 20px;
   }

   .location-forms .form input {
    width: 350px;
    padding-left: 15px;
    margin: 30px 30px;
   }

   .form .button-location {
    width: 350px;
   }

   .location-itens {
    width: 100%;
   }

   .location-itens .map {
    margin: 0;
    padding-bottom: 40px;
   }
    
   .location-itens .map img{
    width: 100%;
   }

   .social-media {
    text-align: center;
    margin-bottom: 40px;
   }

   .location-text {
    display: block;
    padding: 40px 0px;
   }

   .location-text p{
    font-size: 0.8rem;
    margin-bottom: 40px;
   }

   .text-size {
    margin: 0;
   }

}