.organize {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 100px 15px;
}

.organize-text {
    margin-right: 50px;
}


.organize-text h2 {
    font-size: 1.9rem;
}


.organize-text p {
    font-size: 1.0rem;
    font-weight: 400;
    margin-top: 20px;
}


.organize .button-organize{
    background: #2091F9;
    border-radius: 20px;
    width: 250px;
    height: 40px;
    margin: 20px 0px;
    transition: 0.3s ease;
    text-align: center;
    cursor: pointer;

}


.organize .button-organize button {
    font-size: 1.0rem;
    width: 100px;
    background-color: transparent;
    border: none;
    margin: 5px;
    color: #fff;
    cursor: pointer;
}

.organize .button-organize:hover {
    transform: scale(1.050);
}

.organize img {
    width: 100%;
}

@media screen and (max-width: 768px) {

    .organize {
        display: block;
        padding: 40px 15px;
    }

    .organize .organize-text {
        text-align: center;
        margin: 0px;
    }

    .organize .button-organize {
        align-items: center;
        justify-content: center;
        margin: 30px auto;
    }
}