.princing-box {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.white-box {
    width: 300px;
    height: 500px;
    background-color: #fff;
    margin: 30px 20px;
    border-radius: 10px;
}

.blue-box {
    width: 300px;
    height: 550px;
    background-color: #2091F9;
    border-radius: 10px;
}

.blue-box h2 {
    color: #fff;
    margin: 20px;
}

.white-box h2 {
    margin: 20px ;
    color: #252B42;
}

.princing-box h2 {
    text-align: center;
}

.price {
    background-color: #252B42;
    padding: 70px 250px;
}

.price h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}
.price p {
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.white-box p {
    color: #252B42;
}

.preco {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#preco-size {
    font-size: 60px;
}

#cifrao {
    text-align: center;
}

#text-price {
    text-align: left;
    margin-left: 10px;
}

.price ul li {
    text-align: center;
    margin-bottom: 15px;
    list-style-type: none;
}

.blue-box .blue li {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    list-style-type: none;
}

.price .button-price{
    background: #2091F9;
    border-radius: 20px;
    width: 200px;
    transition: 0.3s ease;
    text-align: center;
    margin: 30px auto;
}


.price .button-price button {
    font-size: 1.2rem;
    width: 100px;
    background-color: transparent;
    border: none;
    margin: 10px;
    color: #fff;
    
}

.price .button-price:hover {
    transform: scale(1.050);
}

.price .button-price-w{
    background: #fff;
    border-radius: 20px;
    width: 200px;
    transition: 0.3s ease;
    text-align: center;
    margin: 30px auto;
}


.price .button-price-w button {
    font-size: 1.2rem;
    width: 100px;
    background-color: transparent;
    border: none;
    margin: 10px;
    color: #2091F9;
    
}

.price .button-price-w:hover {
    transform: scale(1.050);
}